.mbx-meet-box-container {
  background-color: #546e7a;
  width: 100%;
}

.mbx-streaming-container {
  background-color: chocolate;
  width: 100%;
}

.mbx-remote-video-container {
  background-color: maroon;
  width: 100%;
}

.mbx-remote-video {
  background-color: lightblue;
  border: none;
  width: 100%;
}

.mbx-local-video-container {
  background-color: green;
  width: 100%;
}

.mbx-local-video {
  background-color: lightpink;
  border: none;
  width: 100%;
}

.mbx-indicator {
  color: magenta;
  background: transparent;
  font-size: 1.6em;
  font-style: normal;
  font-weight: bold;
  padding: 12px;
  text-align: center;
  white-space: nowrap;
}
