.mbx-meetbox-container {
  background: transparent;
  width: 100%;
}

.mbx-streaming-container {
  position: relative;
  background: transparent;
  width: 100%;
}

.mbx-remote-video-container {
  position: relative;
  left: 0;
  top: 0;
  background: transparent;
  border: none;
  width: 100%;
}

.mbx-remote-video {
  background: transparent;
  border: none;
  width: 100%;
}

.mbx-local-video-container {
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  background: transparent;
  width: 30%;
  z-index: 100;
}

.mbx-local-video {
  background: transparent;
  border: none;
  width: 100%;
  border-radius: 18px;
}
